# Ignore the virtual environment
venv/
.env

# Ignore compiled python files
__pycache__/
*.pyc

# Ignore Mac system files
.DS_Store

# Optional: Ignore the trained model (since it's a binary file)
# You can remove this line if you WANT to save the specific model to GitHub
# model.pkl